# for Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
.cabal-sandbox.bak/
cabal.sandbox.config
cabal.sandbox.config.bak
*.prof
*.aux
*.hp

# for LaTeX
*.log
*.out
*.pdf
*.synctex.gz
*.toc


# for Mac
.DS_Store


# for other
sqlconfig.json
*.aes

#vscode
.vscode
